*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(Images/First_page_image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    font-size: 50px;
    font-weight: 1000;
    text-align: center;
    /* -webkit-text-stroke: 1px white; */
    color: transparent;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: 0 -500px;
    animation: textcolor 6s linear infinite alternate;
}

@keyframes textcolor{
    100%{
        background-position: 0 0;
    }
}

.button{
    width: 175px;
    height: 50px;
    background-color: red;
    border-radius: 50px;
    border-color: transparent;
    position: absolute;
    left: 45%;
    bottom: 30%;
}

.button p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.5;
}